{% extends 'core/base.html' %}

{% block content %}
<div class='container mt-5'>
<h1 class='text-warning mb-5 border-bottom'>Services</h1>
</div>

<div class="row  text-center text-white mb-5">
    <div class="col">
        <i class="fab fa-react fa-8x mb-3" style="color:royalblue"></i>
        <h1>React</h1>
        <p style='color:whitesmoke'>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At est omnis, 
            facilis hic a ea placeat, alias error quasi deleniti dolorum maxime adipisci 
            numquam harum. Tempora ducimus dolorum dolor odit?</p>
    </div>
    <div class="col">
        <i class="fab fa-python fa-8x mb-3" style="color:burlywood"></i>
        <h1>Django/Python</h1>
        <p style='color:whitesmoke'>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At est omnis, 
            facilis hic a ea placeat, alias error quasi deleniti dolorum maxime adipisci 
            numquam harum. Tempora ducimus dolorum dolor odit?</p>
    </div>
    <div class="col">
        <i class="fas fa-code fa-8x mb-3" style="color:chartreuse"></i>
        <h1>Rest Api</h1>
        <p style='color:whitesmoke'>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At est omnis, 
            facilis hic a ea placeat, alias error quasi deleniti dolorum maxime adipisci 
            numquam harum. Tempora ducimus dolorum dolor odit?</p>
    </div>

</div>

{% endblock content %}